.faq-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  margin: 0 162px;  
}
  .faq-section .section-title {
    margin-top: 160px;
  }
  .faq-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }
  .faq-list {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 1060px;
  }
.expanded .question {
  transition: all 0.3s ease;
}
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .question p {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    color: #0A0C13;
width: 962px;
  }
  .question p.expanded {
    color: #5967D1;
  }
  .answer {
font-size: 26px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: #0A0C13;
width: 95%;
  }
  .faq-block {
    padding-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
min-height: 84px;
border-bottom: 1px solid #9C95AE;
  }
  .faq-block.expanded {
    min-height: 100px;
    position: relative;
    z-index: 1;
    border-bottom: none;
  }
  .faq-block .arrow {
    width: 37px;
    height: 37px;
    transition: transform 0.3s ease;
  }
  .arrow.expanded {
    transform: rotate(180deg);
  }
  .answer {
    display: none;
  }
  .expanded .answer {
    display: block;
  }
  .faq-image{
    margin-top: -20px;
  }
  .faq-image img {
    height: 695px;
    }
  @media (max-width: 1728px) {
    .faq-section {
      width: 100%;
    margin: 0 60px;  
  }
    .faq-image{
     margin-left: -50px;
    }
    .question p {
      font-size: 28px;
    }
    .answer {
      font-size: 22px;
    }
    .faq-image img {
      height: 595px;
    }
  }
  @media (max-width: 1280px) {
    .question p {
      font-size: 26px;
      line-height: 30px;
    }
    .answer {
      font-size:20px;
      line-height: 28px;
    }
    .faq-block {
  min-height: 64px;
    }
  }
  @media (max-width: 1024px) {
    .faq-section {
     margin: 0 24px; 
    }
    .faq-list {
width: 70%;
z-index: 0;
    }
    .faq-block {
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(3px);
    }
  }
  @media (max-width: 768px) {
    .faq-section .section-title {
      margin-top: 100px;
    }
    .faq-list {
      margin-left: 16px;
    }
    .faq-content {
      margin-top: 24px;
    }
    .faq-block {
      padding-bottom: 0px;
    }
    .faq-block .arrow {
      width: 24px;
      height: 24px;
    }
    .expanded .answer {
font-size: 16px;
line-height: 22px;
    }
    .expanded .answer p {
      margin: 0;
      padding-bottom: 20px;
    }
    .faq-image {
      margin-top: 50px;
      margin-left: -200px;
    }
    .faq-image img {
      width: auto;
      height: 510px;
    }
    .faq-block {
      min-height: 66px;
    }
    .question p {
      font-size: 24px;
      line-height: 36px;
      width: 600px;
    }
    .expanded .answer p {
      font-size: 20px;
    line-height: 27px;
    }
  }
  @media (max-width: 425px) {
    .faq-content {
      width: 100%;
    }
    .faq-list {
      margin-left: 0;
    }
    .faq-section {
      width: 100%;
    margin: 0;  
  }
    .faq-section, .faq-block, .faq-list {
      width: 115%;
    }
    .faq-content {
      margin-top: 24px;
    }
    .question {
      padding: 10px 16px;
    }
    .question p {
      width: 300px;
font-size: 20px;
line-height: 27px;
    }
    .expanded .answer {
      width: 300px;
font-size: 16px;
line-height: 22px;
margin-left:16px;
    }
    .expanded .answer p {
      margin: 0;
      padding-bottom: 20px;
    }
    .faq-section .section-title {
      margin-left: 0px;
    }
    .faq-image {
      overflow: hidden;
      margin-top: 200px;
      margin-left: -250px;
    }
    .faq-image img {
      width: 591px;
      height: 354px;
      overflow: hidden;
    }
    .faq-section .section-title {
      margin-top: 100px;
      margin-left: 16px;
    }
    .expanded .answer p {
      font-size: 16px;
      line-height: 21px;
    }
  }
  @media (max-width: 400px) {
    .faq-section, .faq-block, .faq-list {
      width: 116%;
    }
  }
  @media (max-width: 350px) {
    .faq-section, .faq-block, .faq-list {
      width: 117%;
    }
    .question p {
      width: 250px;
    }
  }
  @media (max-width: 300px) {
    .faq-section, .faq-block, .faq-list {
      width: 118%;
    }
  }